<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.structure.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/pubsub.css}" />

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script th:src="@{/js/pubsub.js}"></script>

<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/poc-favicon-color.png}" />
