<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pub/Sub Message Publisher</title>
    <div th:replace="~{fragments/pubsubresources}"></div>
</head>
<body>
    <h1>Publish Message to Google Cloud Pub/Sub</h1>
    <form th:action="@{/publish}" th:object="${messageForm}" method="post">
        <div>
            <label for="message">Message:</label>
            <input type="text" name="message" id="message" th:field="*{message}" required />
        </div>
        <div>
            <button type="submit">Publish</button>
        </div>
    </form>
    <p th:text="${successMessage}"></p>
</body>
</html>